@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CircularSpotifyTxT-Light';
    src: url('/fonts/CircularSpotifyTxT-Light.woff2') format('woff2'),
         url('/fonts/CircularSpotifyTxT-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'CircularSpotifyTxT-Light', sans-serif;
  }
  